*{
    padding: 0%;
    margin: 0px;
}  

input {
    all: unset; 
}

.body{
    display: flex ;
    margin: 15px;
}


.esqueceu-senha{
    display: flex;
    margin-left: 0%;
    position:absolute;
    left: 137px;
}

.border{
    display: flex;
    border: 2px solid #003b5c ;
    border-radius: 27px;
    padding: 10px 15px ;
    margin-bottom: 15px;
    background-color: rgb(255, 255, 255);
    margin-left: 5px;
   
    color: #003b5c
    
}

.senha{

    width: 350px;
    max-width: 400px;
    display: flex ;
    border: 2px solid #003b5c ;
    border-radius: 27px;
    padding: 10px 15px ;
    margin-bottom: 15px;
    background-color: rgb(255, 255, 255);
    color: #003b5c
}

.senha i{
    font-size: 20px;
    color: #003b5c;
  }



.login {
    height: 20px;
}
.imagem2 {
    width: 175px;
    margin-bottom: 55px;
}

.esqueceu-senha{
    text-align: center;
    margin-top: 5px;
  }

.esqueceu-senha a {
    color: #5d5d5d;
    text-decoration: none;
    font-size: 14px;
  }

.esqueceu-senha a:hover {
    text-decoration: underline;
}

.img3 img {
    width: 350px;
    height: 200px;
    text-align: center;
}
header{
    text-align: center;
}

.proximo img{
    text-align: center;

}

.border2 {
    margin-left: 5px;
}

.flex{
    display: flex;
}

.imagem3 {
    display: flex;
    margin: 70px;
    width: 250px;
    margin-top: 170px;
    margin-bottom: 0px;
}