
    
    
    

.esqueceu-senha{
    text-align: center;
    display: flex;
    margin-left: 112px;


}
.login{
    width: 90%;
    max-width: 400px;
    display flex: ;
    align-items: center;
    border: 2px solid #003b5c ;
    border-radius: 25px;
    padding: 10px 15px ;
    margin-bottom: 15px;
    background-color: white;
}

.senha{
    display flex: ;
    align-items: center;
    border: 2px solid #003b5c ;
    border-radius: 25px;
    padding: 10px 15px ;
    margin-bottom: 15px;
    background-color: white;

}

.senha i{
    font-size: 20px;
    margin-right: 10px;
    color: #003b5c;
  }

.esqueceu-senha{
    text-align: center;
    margin-top: 10px;
  }

.esqueceu-senha a {
    color: #5d5d5d;
    text-decoration: none;
    font-size: 14px;
  }

.fesqueceu-senha a:hover {
    text-decoration: underline;
}

.img3 img {
    width: 350px;
    height: 230px;
}
header{
    text-align: center;
}

.proximo img{
    text-align: right;
}