header {

    text-align: right;
}

header img {

    height: 60px;
}

body {
    background-color: #ffffff;
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-style: oblique;

    }



    .logo1 {
        text-align: center;
        width: 5px;
        height: 150px;


    }

    .imagem2{
        height: 260px;
     
    }
   
    .imagem3{
        text-align: center;
        height: 120px;
    }

    .imagem4{
        height: 130px;
    }

   .img4 {

        margin-top: 80px;
   }

   .img3 {
    margin-top: 100px;
   }

    
    