.header {
    
    background-color: #ffffff;
    text-align: center;
    padding: 0rem;
    font-size: 3px;
    margin-top: 60px;
    margin-bottom: 100px;
   }

.header img {
    height: 140px;
    width: 290px;
}

.texto_proximo{
    margin-bottom: 34%;
}

.next_bt {
    background-color: transparent;
    border-color: transparent;
}


.next img {

    height: 190px;
    width: 200px; 
}


body {
    background-color: #ffffff;
    text-align: center;
    margin: 0px;
    padding: 0px;
   font-family: Sans-serif;
   text-decoration: none;
    }


    .logo1 {
        text-align: center;
        width: 10px;
        height: 10px;


    }

    footer {
        text-align: right;
        
    }

    /* login */

    *{
    padding: 0%;
    margin: 0px;
}  

input {
    all: unset; 
}

.body{
    display: flex ;
    margin: 15px;
}


.esqueceu-senha{
    display: flex;
    margin-left: 0%;
    position:absolute;
    left: 137px;
}

.border{
    border: 2px solid #003b5c ;
    border-radius: 27px;
    padding: 10px 15px ;
    margin-left: 17px;
    margin-bottom: 10px;
    width: 350px;
    max-width: 400px;
    background-color: rgb(255, 255, 255);
    color: #003b5c
    
}

.senha{

    width: 350px;
    max-width: 400px;
    margin: auto;
    border: 2px solid #003b5c ;
    border-radius: 27px;
    padding: 10px 15px ;
    margin-bottom: 15px;
    background-color: rgb(255, 255, 255);
    color: #003b5c
}

.senha img {
    display: flex;
    justify-content: center;
}

.senha i{
    font-size: 20px;
    color: #003b5c;
  }



.login {
    height: 20px;
}
.imagem2 {
    width: 175px;
    margin-bottom: 35px;
}

.esqueceu-senha{
    text-align: center;
    margin-top: 1%;
  }

.esqueceu-senha a {
    color: #5d5d5d;
    text-decoration: none;
    font-size: 14px;
  }

.esqueceu-senha a:hover {
    text-decoration: underline;
}

.img3 img {
    width: 350px;
    height: 200px;
    text-align: center;
}
header{
    text-align: center;
}

.proximo {
    display: flex;
    margin-left: 86%;
    margin-top: 1%;

}

.border2 {
    margin-left: 1%;
}

.flex{
    display: flex;
}

.imagem3 {
    display: flex;
    margin: 19%;
    width: 250px;
    margin-top: 40%;
    margin-bottom: 0%;
}

.next_bt{
    background-color: transparent;
    border-color: transparent;
}


/* index */

*{
    margin: 0%;
}

nav .flex {
  display: flex;
  align-items: center;
  background-color: rgb(122, 121, 121);
  padding: 10px;
  color: white;
}

nav img {
  width: 40px;
  height: auto;
  margin-right: 10px;
  cursor: pointer;
}

.LOGO1 img {
  height: 50px;
  margin-right: 20px;
}

.bus1, .bus2, .lupa {
  text-align: center;
  margin-right: 20px;
}

.subtexto {
  font-size: 15px;
  color: rgb(28, 27, 27);
}


.sidebar {
  position: fixed;
  top: 0;
  left: -250px; /
  width: 250px;
  height: 100%;
  background-color: rgb(239, 232, 232);
  padding-top: 60px;
  transition: left 0.3s ease;
  z-index: 1000;
}

.sidebar.active {
  left: 0; 
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 15px 20px;
}

.sidebar ul li a {
  color: rgb(33, 31, 31);
  text-decoration: none;
  font-size: 20px;
  display: block;
}

.sidebar ul li a:hover {
  background-color: #003366;
  border-radius: 5px;
}


.flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

body {
    background-color: rgb(255, 255, 255);
    background-image: url("imagem/imagen-fundo.png");
    background-repeat: no-repeat;
    background-size:120%;
    
}
nav{
    background-color: rgb(122, 121, 121);

}

nav img{
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 15px;
    width: 35px;
    

}

.LOGO1 {
    margin: 0%;
    width: 150px;
    height: 50px;
}

.LOGO1 img{

width: 100px;
margin: 0%;
margin-top: 20px;
}

.container {
    position: relative;
  }
  
  #image {
    position: absolute;
  }
  
  #texto {
    position: absolute;
    font-size: 32px;
    left: 35px;
    top: 165px;
    color: white;
    font-family: Sans-serif
    
  }

  .conteiner img {
    z-index: 1;
  }

  #texto1 {
    position: absolute;
    font-size: 23px;
    left: 25px;
    top: 250px;
    color: rgb(255, 255, 255);
    font-family: Sans-serif;
    background-color: rgb(27, 74, 226);
    padding: 6px;
    border-radius: 20px;

  }

   .menu {
    background-color: rgb(242, 235, 235);
    text-align: center;
    position: absolute;
    z-index: 2;
    font-family: Sans-serif;
    padding: 15px;
    border-radius: 40px;
    left: 10px;
    top: 40%;
   }

   .titulo_menu {

    font-size: 40px;
   }

   #partida1 {
    text-align: center;
    font-size: 23PX;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    width: 360px;
   }

   #destino1 {
    text-align: center;
    font-size: 23PX;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    width: 360px;
   }

   #data1 {
    text-align: center;
    font-size: 23PX;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    width: 360px;
   }

   #pc1 {
    text-align: center;
    font-size: 23PX;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    width: 180px;
   }

   #hora1 {
    text-align: center;
    font-size: 23PX;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    width: 180px;
   }

   #buscar1 {
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    width: 180px;
    text-align: right;
    background-color: transparent;
   }

   #buscar2 {
    text-align: center;
    font-size: 20PX;
    background-color: rgb(21, 21, 122);
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    width: 180px;
    text-align: right;
    color: white;
   }

   .subtexto {
    text-align: center;
    font-family: Sans-serif;
    font-size: 8px;
    font-weight: bold;
    color: rgb(3, 3, 49);
   }
.rotasgo {
  position: absolute;
  color: white;
  left: 34%;
  bottom: 6%;
}

/* rotas2 */

* {
    padding: 0%;
    margin: 0px;
    border: 0%;
}
nav .flex {
  display: flex;
  align-items: center;
  background-color: rgb(122, 121, 121);
  padding: 10px;
  color: white;
}

nav img {
  width: 40px;
  height: auto;
  margin-right: 10px;
  cursor: pointer;
}

.LOGO1 img {
  height: 50px;
  margin-right: 20px;
}

.bus1, .bus2, .lupa {
  text-align: center;
  margin-right: 20px;
}

.subtexto {
  font-size: 15px;
  color: rgb(28, 27, 27);
}


.sidebar {
  position: fixed;
  top: 0;
  left: -250px; /
  width: 250px;
  height: 100%;
  background-color: rgb(239, 232, 232);
  padding-top: 60px;
  transition: left 0.3s ease;
  z-index: 1000;
}

.sidebar.active {
  left: 0; 
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 15px 20px;
}

.sidebar ul li a {
  color: rgb(33, 31, 31);
  text-decoration: none;
  font-size: 20px;
  display: block;
}

.sidebar ul li a:hover {
  background-color: #003366;
  border-radius: 5px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: bold;
  

}
nav{
    background-color: rgb(122, 121, 121);
}

nav img{
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 15px;
    width: 35px;
    
}

.LOGO1 {
    margin: 0%;
    width: 150px;
    height: 50px;
}

.LOGO1 img{

width: 100px;
margin: 0%;
margin-top: 20px;
}

.ferrorama{
  margin-bottom: 100px;
  margin-left: 20px;  
}

.notificações{
    background-color: rgb(233, 225, 225) ;
    border-radius: 35px;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    width: 600px;
    height: 600px;
    font-weight: bold;
    font-size: 17px;
    
}

.mensagem {
  align-items: center;
  margin-bottom: 10px;
}


.mensagem img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}






