.header {
    
    background-color: #ffffff;
    text-align: center;
    padding: 0rem;
   

}

body {
    background-color: #ffffff;
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-style: oblique;
    }


    .logo1 {
        text-align: center;
        width: 10px;
        height: 10px;


    }

    footer {
        text-align: right;
        
    }
